<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestNunit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestNunit.Properties.Settings>
            <setting name="SauceLabsAccountName" serializeAs="String">
              <value>cybermats</value>
            </setting>
            <setting name="SauceLabsAccountKey" serializeAs="String">
              <value>6222a492-f056-449f-8f4e-d97277d537bd</value>
            </setting>
            <setting name="TestSite" serializeAs="String">
              <value>http://www.bokadirekt.se/</value>
            </setting>
        </TestNunit.Properties.Settings>
    </applicationSettings>
</configuration>